* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  font-size: 16px;
}

.content {
  max-width: 100%;
  height: auto;
}


.header {
  width: 58.75rem;
  margin: 0 auto;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 58.75rem;

}

.section-service {
  padding: 7.8125rem 0 7.8125rem 0;
  width: 58.75rem;
  margin: 0 auto;
}

.list-navigation {
  display: flex;
  font-size: 0.875rem;

  text-transform: uppercase;
  line-height: 2.929;
  font-family: 'Montserrat',
    sans-serif;

}

.list-navigation-item-link:hover {
  color: #fed136;
  transition: linear 220ms;
}

.list-navigation-item-link {
  color: rgb(34, 34, 34);
}



.logo {
  font-family: 'Cookie', cursive;
  font-size: 1.625rem;
  color: #fed136;
  line-height: 1.577;

}



.list-navigation-item:not(:last-child) {
  margin-right: 2.5rem;
}

.title {
  font-size: 2.5rem;
  font-family: 'Montserrat',
    sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1.25rem;
}

.servise-title {
  font-size: 2.5rem;
  font-family: 'Montserrat',
    sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1.25rem;
}



.servise-title-item {
  font-size: 1.875rem;
  font-family: 'Cookie',
    cursive;
  color: rgb(119, 119, 119);
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 5rem;
}


.service-icon {
  color: rgb(254, 209, 54);
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 0.1875rem solid rgb(254, 209, 54);
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 auto 1.25rem;
  background-position: center;

}


.service-icon-commerce {
  background-image: url(../image/icon/Icon-Basket.png);



}

.service-icon-responsive {
  background-image: url(../image/icon/Icon-Laptop.png);
}

.service-icon-security {

  background-image: url(../image/icon/Icon-Locked.png);
}

.service-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.servise-content-item {
  width: 20.3125rem;
}

.servise-subtitle {
  text-align: center;
  margin-bottom: 1.25rem;
  font-family: 'Montserrat',
    sans-serif;
  font-size: 1.125rem;
  color: rgb(34, 34, 34);
  font-weight: bold;
  line-height: 1.2;
}

.servise-description {
  text-align: center;
  font-size: 0.875rem;
  font-family: "RobotoSlab";
  color: rgb(119, 119, 119);
  line-height: 1.2;
  font-family: 'Roboto Slab',
    serif;
}

.contact {
  background-color: rgb(34, 34, 34);
  height: 42.375rem;
  padding: 6.875rem 0rem;
  background-image: url(../image/img/Map\ Image.png);
  background-repeat: no-repeat;
  background-position: right;
}


.contact-title {
  width: 58.75rem;
  margin: auto;

}

.contact-item {
  margin: 0 auto;
  width: 58.75rem;
}

.form-content {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.input::placeholder {
  font-size: 0.875rem;
  font-family: 'Montserrat',
    sans-serif;
  color: rgb(187, 187, 187);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;

}


.input-data {
  border-style: 0.0625rem solid;
  border-radius: 0.125rem;
  border-color: rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  width: 28.6875rem;
  height: 3.300rem;
  margin: 0.8125rem;
  padding: 1.25rem;
}

.input-text {
  border-style: 0.0625rem solid;
  border-color: rgb(204, 204, 204);
  border-radius: 0.3125rem;
  background-color: rgb(255, 255, 255);
  width: 28.6875rem;
  height: 13.375rem;
  padding: 1.25rem;
  outline-color: transparent;
  margin-bottom: 0;
  resize: none;
}

.btn-form {
  border-radius: 0.1875rem;
  background-color: rgb(254, 209, 54);
  border: none;
  margin: 1.875rem auto;
  cursor: pointer;
  display: block;
  font-family: 'Montserrat',
    sans-serif;
  padding: 1.5625rem 2.8125rem;
  color: #ffffff;
  font-size: 1.125rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  background-position: center;
}